<button routerLink="/home" class="button-primary">Volver al Home</button>

<div *ngIf="isLoading" class="loading-message">Cargando personajes...</div>

<div *ngIf="!isLoading" class="character-grid">
  <div *ngFor="let character of characters" class="character-card">
    <h3>{{ character.name }}</h3>
    <img [src]="character.thumbnail.path + '.' + character.thumbnail.extension" alt="{{ character.name }}">
    <button (click)="addToFavorites(character)">Añadir a Favoritos</button>
  </div>
</div>

<div id="successModal" class="modal" *ngIf="successMessage">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <p>{{ successMessage }}</p>
  </div>
</div>
 